- var custom = {};

doctype html

include _mixins
include _mixins_forms

block html
  //if lt IE 7
    <html id="html" class"no-js lt-ie9 lt-ie8 lt-ie7" lang="es">
  //if IE 7
    <html id="html" class="no-js ie7 lt-ie9 lt-ie8" lang="es">
  //if IE 8
    <html id="html" class="no-js ie8 lt-ie9" lang="es">
  //if IE 9
    <html id="html" class="no-js ie9 lt-ie10" lang="es">

  //[if gt IE 9]><!
  html#html(lang='es')
    //<![endif]
    head
      title #{custom.title||''}#{(custom.title)? ' - ' : ''}#{ config.project_name }
      meta( charset='utf-8' )
      meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
      meta( name="viewport",content="width=device-width,initial-scale=1.0")
      meta( name='description', content!="{{ page_description }}")
      meta( property="og:url", content!="{{ og_url }}")
      meta( property="og:title", content!="{{ og_title }}")
      meta( property="og:image", content!="{{ og_image }}")
      meta( property="og:description", content!="{{ og_description }}")
      link( rel='icon', type='image/png', href!=config.static_url('images/favicon.ico'))
      <!--[if gte IE 6 & lt IE 9]><script src!=config.static_url('scripts/libs/html5shiv.js')></script><![endif]-->
      <!--[if gte IE 6 & lt IE 9]><script src!=config.static_url('scripts/libs/selectivizr.js')></script><![endif]-->
      <!--[if lte IE 9]><script> window._ie = true; </script><![endif]-->
      +livereload()
      block styles
        link(href!=config.static_url('styles/main.css'), rel='stylesheet')
      +tracking
    body#body(class=custom.body_cls ? custom.body_cls:'')      
      block content
        //- Inicio de header
        block header
          include includes/_header
        //- Fin de header
        main
          //- Inicio de contenido
          block main
          //- Fin contenido

        //- Inicio Footer
        block footer
          include includes/_footer
        //- Fin footer
      block addons
        +social(['fb','tw'])      
      block scripts
