mixin input_text(config)

  - name = config.name || ''
  - var_name = config.var_name || name
  - id = config.id || name
  - defaultValue = config.defaultValue || ''
  - isDisabled = config.isDisabled || false
  - hasLabel = config.hasLabel || true
  - label = config.label || ''
  .ElementForm(class='ElementForm--' + camelCase(name))
    .ElementForm-statement
      if (hasLabel)
        label.ElementForm-label(for="#{id}")=label

      if (isDisabled)
        input.ElementForm-input(
          class='is-disabled',
          name="#{name}",          
          id="#{id}",
          disabled="disabled",
          required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
          minlength="{% if form.#{var_name}.field.min_length %}{{form.#{var_name}.field.min_length}}{% endif %}",
          maxlength="{% if form.#{var_name}.field.max_length %}{{form.#{var_name}.field.max_length}}{% endif %}",
          type="text",
          value!="{% if form.#{var_name}.value %}{{form.#{var_name}.value}}{% else %}#{defaultValue}{% endif %}")

      else
        input.ElementForm-input(
          name="#{name}",
          id="#{id}",
          required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
          minlength="{% if form.#{var_name}.field.min_length %}{{form.#{var_name}.field.min_length}}{% endif %}",
          maxlength="{% if form.#{var_name}.field.max_length %}{{form.#{var_name}.field.max_length}}{% endif %}",
          type="text",
          value!="{% if form.#{var_name}.value %}{{form.#{var_name}.value}}{% else %}#{defaultValue}{% endif %}")

    .ElementForm-errorContent
      {% if form.#{var_name}.errors %}
      {% for error in form.#{var_name}.errors %}
      label(class="ElementForm-label--error", for="#{id}") {{ error }}
      {% endfor %}
      {% else %}
      label(class="ElementForm-label--error", for="#{id}")
      {% endif %}

mixin input_date(config)  
  - name = config.name || ''
  - var_name = config.var_name || name
  - id = config.id || name
  - defaultValue = config.defaultValue || ''
  - isDisabled = config.isDisabled || false
  - hasLabel = config.hasLabel || true
  - label = config.label || ''
  - dateFormat = config.dateFormat || 'dd/mm/yyyy'
  - minDate = config.minDate || '01/01/1920'
  - maxDate = config.maxDate || ''


  .ElementForm(class='ElementForm--' + camelCase(name))
    .ElementForm-statement
      if (hasLabel)
        label.ElementForm-label(for="#{id}")=label

      if (isDisabled)
        input.ElementForm-input--date(
          class='is-disabled',
          name="#{name}",          
          id="#{id}",
          disabled="disabled",
          required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
          minlength="{% if form.#{var_name}.field.min_length %}{{form.#{var_name}.field.min_length}}{% endif %}",
          maxlength="{% if form.#{var_name}.field.max_length %}{{form.#{var_name}.field.max_length}}{% endif %}",
          date="true",
          data-rule-mindate="#{minDate}",
          data-rule-maxdate="#{maxDate}",
          date-format="#{dateFormat}",
          value!="{% if form.#{var_name}.value %}{{form.#{var_name}.value}}{% else %}#{defaultValue}{% endif %}")

      else
        input.ElementForm-input--date(
          name="#{name}",
          id="#{id}",
          required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
          minlength="{% if form.#{var_name}.field.min_length %}{{form.#{var_name}.field.min_length}}{% endif %}",
          maxlength="{% if form.#{var_name}.field.max_length %}{{form.#{var_name}.field.max_length}}{% endif %}",
          date="true",
          data-rule-mindate="#{minDate}",
          data-rule-maxdate="#{maxDate}",
          date-format="#{dateFormat}",
          value!="{% if form.#{var_name}.value %}{{form.#{var_name}.value}}{% else %}#{defaultValue}{% endif %}")

    .ElementForm-errorContent
      {% if form.#{var_name}.errors %}
      {% for error in form.#{var_name}.errors %}
      label(class="ElementForm-label--error", for="#{id}") {{ error }}
      {% endfor %}
      {% else %}
      label(class="ElementForm-label--error", for="#{id}")
      {% endif %}

mixin input_number(config)  
  - name = config.name || ''
  - var_name = config.var_name || name
  - id = config.id || name
  - defaultValue = config.defaultValue || ''
  - isDisabled = config.isDisabled || false
  - hasLabel = config.hasLabel || true
  - label = config.label || ''
  .ElementForm(class='ElementForm--' + camelCase(name))
    .ElementForm-statement
      if (hasLabel)
        label.ElementForm-label(for="#{id}")=label

      if (isDisabled)
        input.ElementForm-input--number(
          class='is-disabled',
          name="#{name}",
          id="#{id}",
          disabled="disabled",
          required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
          minlength="{% if form.#{var_name}.field.min_length %}{{form.#{var_name}.field.min_length}}{% endif %}",
          maxlength="{% if form.#{var_name}.field.max_length %}{{form.#{var_name}.field.max_length}}{% endif %}",
          number,
          value!="{% if form.#{var_name}.value %}{{form.#{var_name}.value}}{% else %}#{defaultValue}{% endif %}")

      else
        input.ElementForm-input--number(
          name="#{name}",
          id="#{id}",
          required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
          minlength="{% if form.#{var_name}.field.min_length %}{{form.#{var_name}.field.min_length}}{% endif %}",
          maxlength="{% if form.#{var_name}.field.max_length %}{{form.#{var_name}.field.max_length}}{% endif %}",
          number,
          value!="{% if form.#{var_name}.value %}{{form.#{var_name}.value}}{% else %}#{defaultValue}{% endif %}")

    .ElementForm-errorContent
      {% if form.#{name}.errors %}
      {% for error in form.#{name}.errors %}
      label(class="ElementForm-label--error", for="#{id}") {{ error }}
      {% endfor %}
      {% else %}
      label(class="ElementForm-label--error", for="#{id}")
      {% endif %}

mixin input_email(config)  
  - name = config.name || ''
  - var_name = config.var_name || name
  - id = config.id || name
  - defaultValue = config.defaultValue || ''
  - isDisabled = config.isDisabled || false
  - hasLabel = config.hasLabel || true
  - label = config.label || ''
  .ElementForm(class='ElementForm--' + camelCase(name))
    .ElementForm-statement
      if (hasLabel)
        label.ElementForm-label(for="#{id}")=label

      if (isDisabled)
        input.ElementForm-input--email(
          class='is-disabled',
          name="#{name}",          
          id="#{id}",
          disabled="disabled",
          type="email",
          required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
          minlength="{% if form.#{var_name}.field.min_length %}{{form.#{var_name}.field.min_length}}{% endif %}",
          maxlength="{% if form.#{var_name}.field.max_length %}{{form.#{var_name}.field.max_length}}{% endif %}",
          value!="{% if form.#{var_name}.value %}{{form.#{var_name}.value}}{% else %}#{defaultValue}{% endif %}")

      else
        input.ElementForm-input--email(
          name="#{name}",
          id="#{id}",
          type="email",
          required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
          minlength="{% if form.#{var_name}.field.min_length %}{{form.#{var_name}.field.min_length}}{% endif %}",
          maxlength="{% if form.#{var_name}.field.max_length %}{{form.#{var_name}.field.max_length}}{% endif %}",
          value!="{% if form.#{var_name}.value %}{{form.#{var_name}.value}}{% else %}#{defaultValue}{% endif %}")

    .ElementForm-errorContent
      {% if form.#{var_name}.errors %}
      {% for error in form.#{var_name}.errors %}
      label(class="ElementForm-label--error", for="#{id}") {{ error }}
      {% endfor %}
      {% else %}
      label(class="ElementForm-label--error", for="#{id}")
      {% endif %}

mixin list_checkbox(config)  
  - name = config.name || ''
  - id = config.id || name
  - var_name = config.var_name || name
  - hasLabel = config.hasLabel || true
  - label = config.label || ''

  .ElementForm(class='ElementForm--' + camelCase(name))
    .ElementForm-statement
      label.ElementForm-label=label
      .ElementForm-checkBoxOptions
        {% for option in form.#{var_name}.field.choices %}
        .ElementForm-checkBoxContent
          input.ElementForm-input--checkbox(
            name="#{name}",
            id="#{id}-{{option.0}}",
            type="checkbox",
            value="{{option.0}}",
            required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}")
          label.ElementForm-label--checkbox(for="#{name}-{{option.0}}"){{option.1}}
        {% endfor %} 

    .ElementForm-errorContent
      {% if form.#{name}.errors %}
      {% for error in form.#{name}.errors %}
      label(class="ElementForm-label--error", for="#{id}") {{ error }}
      {% endfor %}
      {% else %}
      label(class="ElementForm-label--error", for="#{id}")
      {% endif %}

mixin checkbox(config)  
  - name = config.name || ''
  - id = config.id || name
  - var_name = config.var_name || name
  - label = config.label || ''
  - checked = config.checked || false

  .ElementForm(class='ElementForm--' + camelCase(name))
    .ElementForm-statement
      if !checked
        input.ElementForm-input--checkbox(
          name="#{name}", 
          id="#{id}",
          type="checkbox",
          required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}"
        )     
      else
        input.ElementForm-input--checkbox(
            name="#{name}", 
            id="#{id}",
            type="checkbox",
            required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
            checked=true
          )      
      label.ElementForm-label--checkbox(for="#{id}")=label
    .ElementForm-errorContent
      {% if form.#{name}.errors %}
      {% for error in form.#{name}.errors %}
      label(class="ElementForm-label--error", for="#{id}") {{ error }}
      {% endfor %}
      {% else %}
      label(class="ElementForm-label--error", for="#{id}")
      {% endif %}

mixin list_radiobox(config)  
  - name = config.name || ''
  - id = config.id || name
  - var_name = config.var_name || name
  - hasLabel = config.hasLabel || true
  - label = config.label || ''

  .ElementForm(class='ElementForm--' + camelCase(name))
    .ElementForm-statement
      label.ElementForm-label--radioBox=label
      .ElementForm-radioBoxOptions
        {% for option in form.#{var_name}.field.choices %}
        .ElementForm-radioBoxContent          
          input.ElementForm-input--radiobox(
            name="#{name}",
            id="#{id}-{{option.0}}",
            type="radio",
            value="{{option.0}}",
            required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}"
          )
          label.ElementForm-label--radiobox(for="#{name}-{{option.0}}"){{option.1}}
        {% endfor %} 

    .ElementForm-errorContent
      {% if form.#{name}.errors %}
      {% for error in form.#{name}.errors %}
      label(class="ElementForm-label--error", for="#{id}") {{ error }}
      {% endfor %}
      {% else %}
      label(class="ElementForm-label--error", for="#{id}")
      {% endif %}

mixin radiobox(config)  
  - name = config.name || ''
  - id = config.id || name
  - var_name = config.var_name || name
  - label = config.label || ''
  - defaultValue = config.defaultValue || ''

  .ElementForm(class='ElementForm--' + camelCase(name))
    .ElementForm-statement
      input.ElementForm-input--radioBox(
        name="#{name}",
        id="#{id}",
        type="radio",
        required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
        value="#{defaultValue}"
      )      
      label.ElementForm-label--radiobox(for="#{id}")=label
    .ElementForm-errorContent
      {% if form.#{var_name}.errors %}
      {% for error in form.#{var_name}.errors %}
      label(class="ElementForm-label--error", for="#{id}") {{ error }}
      {% endfor %}
      {% else %}
      label(class="ElementForm-label--error", for="#{id}")
      {% endif %}

mixin select(config)  
  - name = config.name || ''
  - id = config.id || name
  - var_name = config.var_name || name
  - required = config.required || ''
  - valueSelected = config.valueSelected || ''
  - isDisabled = config.isDisabled || false
  - dataSource = config.dataSource || ''
  - isAjax = config.isAjax || false
  - hasLabel = config.hasLabel || true
  - label = config.label || ''

  .ElementForm(class='ElementForm--' + camelCase(name))
    .ElementForm-statement
      if (hasLabel)
        label.ElementForm-label--select(for="#{id}")=label
      
      .ElementForm-select
        .ElementForm-selectText
        .ElementForm-selectIcon
        if (isDisabled)
          select.ElementForm-select(
            class="is-disabled",
            disabled="disabled",
            name="#{name}",
            id="#{id}",
            required="{% if form.#{var_name}.field.required %}true{% else %}false{% endif %}",
            data-value-selected ="{% if form.#{var_name}.value %}{{form.#{var_name}.value}}{% else %}#{defaultValue}{% endif %}",
            data-source="#{config.dataSource}" ? "#{config.dataSource}" : ''
          ) 
            
            if !isAjax
              {% for item in #{var_name} %}
              option.ElementForm-selectOption(value!="{{ item.code }}") {{ item.name }}
              {% endfor %}

        else
          select.ElementForm-select(
            name="#{name}",
            id="#{id}",
            required="#{required}",
            data-value-selected="{% if form.#{var_name}.value %}{{form.#{var_name}.value}}{% else %}#{defaultValue}{% endif %}",
            data-source="#{config.dataSource}" ? "#{config.dataSource}" : ''
          )

            if !isAjax
              {% for item in #{var_name} %}
              option.ElementForm-selectOption(value!="{{ item.code }}") {{ item.name }}
              {% endfor %}

    .ElementForm-errorContent
      {% if form.#{var_name}.errors %}
      {% for error in form.#{var_name}.errors %}
      label(class="ElementForm-label--error", for="#{id}") {{ error }}
      {% endfor %}
      {% else %}
      label(class="ElementForm-label--error", for="#{id}")
      {% endif %}

- function camelCase(input) { 
    - return input.toLowerCase().replace(/_(.)/g, function(match, group1) {
      - return group1.toUpperCase();
    - });
- }