extends home
block header
block footer
block main
  .Home
    .Page-1(data-ibg-bg!=config.static_url('images/hover.png'))
    .Nav-Menu
      .Nav-Menu-innner
        a(data-href!=".Page-1").Nav-Menu-item.NavMenu-page1
          span inicio
        a(data-href!=".Page-2").Nav-Menu-item.NavMenu-page2
          span bio
        a(data-href!=".Page-1").Nav-Menu-logo.Nav-Menu-item
          img(src!=config.static_url('images/logo.png'))
        a(data-href!=".Page-3").Nav-Menu-item.NavMenu-page3
          span portafolio
        a(data-href!=".Page-4").Nav-Menu-item.NavMenu-page5
          span contacto
    .Relative-Container
      // PAGE 2
      .Page-2
        .row
          .Page-2-item
            h3 estudios
            p
              b Diseño Gráfico:
              |ISIL
              br
              br
              b Inglés: 
              |intermedio 
    
          .Page-2-item
            h3 experiencia laboral
            p
              b Hashtag:
              | Diseñador Digital Senior
              br
              br
              b Lingo:
              | Diseñador Digital
              br
              br
              b Maneki Studio:
              | Animador Junior
              br

          .Page-2-item
            h3 programas favoritos
            p
              |Ilustrator         In Design
              br
              br
              |Photoshop          Flash
              br
              br
              |After Effects      Premiere

      // PAGE 3
      .Page-3
        .row-fixed
          h2 portafolio
          .clearfix
          .portfolio-wrapper
            a.fresco(href!=config.static_url('images/portfolio/mapache.jpg'), data-fresco-caption='Me di cuenta que tenía una Grumpy Cat cuando se hizo famoso el personaje.', data-fresco-group='portafolio')
              .img-1.img-portfolio
                .portfolio-detail
                  strong mapache
                  p
                    br
                    | Les presento a mi linda gata
                    br
                    | Fotografía ilustrada
            a.fresco(href!=config.static_url('images/portfolio/infierno.jpg'), data-fresco-caption='...no hubo nada que existiera antes que yo, abandona la esperanza si entras aquí.', data-fresco-group='portafolio')
              .img-2.img-portfolio
                .portfolio-detail
                  strong infierno
                  p
                    br
                    | Maqueta de "El infierno"
                    br
                    | de Dante Alighieri
            a.fresco(href!=config.static_url('images/portfolio/hardest-job-ever.jpg'), data-fresco-caption='El diseño es simple, es eso lo que lo hace tan complicado.', data-fresco-group='portafolio')
              .img-3.img-portfolio
                .portfolio-detail
                  strong hardest job ever!
                  p
                    br
                    | Ilustración inspirada
                    br
                    | en mis amanecidas
            a.fresco(href!=config.static_url('images/portfolio/educacion-mitos.jpg'), data-fresco-caption='No todo es lo que parece.', data-fresco-group='portafolio')
              .img-4.img-portfolio
                .portfolio-detail
                  strong la educación y sus mitos
                  p
                    br
                    | Trabajo fotográfico
                    br
                    | basado en la manera como
                    br
                    | se engaña a las personas
            a.fresco(href!=config.static_url('images/portfolio/ruisenor.jpg'), data-fresco-caption='Por siempre; es aveces, solo un segundo.', data-fresco-group='portafolio')
              .img-5.img-portfolio
                .portfolio-detail
                  strong un gran ruiseñor
                  p
                    br
                    br
                    | Sesión fotográfica
                    br
                    | de un amigo muy especial
            a.fresco(href!=config.static_url('images/portfolio/reciclaje.jpg'), data-fresco-caption='El reciclaje es parte importante de la supervivencia del ser humano.', data-fresco-group='portafolio')
              .img-6.img-portfolio
                .portfolio-detail
                  strong reciclaje
                  p
                    br
                    | Infografía animada
            a.fresco(href!=config.static_url('images/portfolio/gato.jpg'), data-fresco-caption='Adiós amigos, ¿los extrañaré?', data-fresco-group='portafolio')
              .img-7.img-portfolio
                .portfolio-detail
                  strong chau
                  p
                    br
                    | Despidiendo unos buenos amigos
            a.fresco(href!=config.static_url('images/portfolio/promesa.jpg'), data-fresco-caption='Por siempre, hasta el fin del universo.', data-fresco-group='portafolio')
              .img-8.img-portfolio
                .portfolio-detail
                  strong promesa
                  p
                    br
                    | La nostalgia invade
            a.fresco(href!=config.static_url('images/portfolio/dni.jpg'), data-fresco-caption='Inscripción de DNI para menores de 16 años.', data-fresco-group='portafolio')
              .img-9.img-portfolio
                .portfolio-detail
                  strong inscripción dni
                  p
                    br
                    | Solo para menores
                    br
                    | de 16 años
            a.fresco(href!=config.static_url('images/portfolio/blood.jpg'), data-fresco-caption='El mejor álbum de Red Hot Chili Peppers.', data-fresco-group='portafolio')
              .img-10.img-portfolio
                .portfolio-detail
                  strong blood sugar sex magik
                  p
                    br
                    | Ilustración tributo a Red Hot Chillipepers
                    br
                    | Trabajado con Corel Painter y Photoshop
            a.fresco(href!=config.static_url('images/portfolio/the-bends.jpg'), data-fresco-caption='Tributo al segundo mejor disco de Radiohead.', data-fresco-group='portafolio')
              .img-11.img-portfolio
                .portfolio-detail
                  strong the bends
                  p
                    br
                    | Sesión fotográfica
            a.lightview(href='http://www.youtube.com/embed/qp5e1FSrHrM?autoplay=1&autohide=1&border=0', data-lightview-type='iframe', data-lightview-options='width: 1920, height: 1080, viewport: \'scale\'')
              .img-12.img-portfolio
                .portfolio-detail
                  strong scott pilgrim
                  p
                    br
                    | Producción en
                    br
                    | After Effects
            a.fresco(href!=config.static_url('images/portfolio/hashtag.jpg'), data-fresco-caption='The Dark Hashtag of the Moon', data-fresco-group='portafolio')
              .img-13.img-portfolio
                .portfolio-detail
                  strong hashtag
                  p
                    br
                    | Rediseño de Logotipo
            a.fresco(href!=config.static_url('images/portfolio/infierno.jpg'), data-fresco-caption='Evimed - Centro Podológico Especializado.', data-fresco-group='portafolio')
              .img-14.img-portfolio
                .portfolio-detail
                  strong evimed
                  p
                    br
                    | Proyecto de
                    br
                    | imagen corporativa
        .clearfix
      // PAGE 4
      .Page-4
        .Parallax
        .GoTop
          img(src!=config.static_url("images/gotop.png"))
      .Page-5
        .Footer
          .row
            .large-6.columns
              .left
                b Gary Saavedra Chamolí
                br
                |cel: +511 
                b 947745031
                br
                |mail: 
                b antipop02@gmail.com
            .large-6.columns
              .right
                a(href!="http://www.google.com").social-item
                  img(src!=config.static_url("images/beer.png"))
                a(href!="http://www.google.com").social-item
                  img(src!=config.static_url("images/tw.png"))
                a(href!="http://www.google.com").social-item
                  img(src!=config.static_url("images/fb.png"))

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")  
  script(type="text/javascript", src!=config.static_url('scripts/site.home.js'))
  script(type="text/javascript", src!=config.static_url('scripts/waypoints.min.js'))
  script(type="text/javascript", src!=config.static_url('scripts/js/fresco/fresco.js'))
  script(type="text/javascript", src!=config.static_url('scripts/js/spinners/spinners.min.js'))
  script(type="text/javascript", src!=config.static_url('scripts/js/lightview/lightview.js'))
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js")