@import 'modules'
@import 'libs'

body
  background #000000
  font-family 'ralewayregular' !important

h1,
h2,
h3,
h4
  font-family 'ralewayextrabold' !important
  line-height: 1.3em;

/* Helpers */
.clearfix
  clearfix()
  
.u-menuFixed
  left 0
  position fixed
  right 0
  top 0
  z-index 200
  a
    &.Nav-Menu-logo
      margin-top 0  !important 

.Nav-Menu
  background white
  height 75px
  text-align center
  
  a
    display inline-block
    font-family 'ralewaybold' !important
    line-height 75px
    vertical-align top
    width 200px
    
    &:hover
      span
        border-bottom 4px solid #000
    
    &.is-active
      span
        border-bottom 4px solid #000
    
    &.Nav-Menu-logo
      background #ff2b42  
      line-height 1
      height 120px
      position relative
      width 120px
      z-index 2
      
      img
        margin 18px auto

/* Hoome */
.Page-1
  background url('../images/bg-home.jpg') top center no-repeat
  background-size cover
.HomeOver
  position absolute
  z-index 10
  top 0
  width 100%


.Relative-Container
  height 100%
  left 0
  position relative
  top 100%
  width 100%
  transition 0.5s

.Page-2
  background url('../images/bg-2.jpg') center top no-repeat
  background-size cover
  color _white
  padding 150px 0 135px
  text-align center
  
  .Page-2-item
    display inline-block
    width 33%
    vertical-align top
    
    h3
      display inline-block
      font-size 1.5em
      border-bottom 3px solid _white
  
.Page-3
  background url('../images/bg-3.jpg') center center no-repeat
  background-size cover
  padding 160px 0 75px
  text-align center
  
  h2
    color _white
    border-bottom 7px solid _white
    display inline-block
    font-size 2em
    margin-bottom 50px
  
  img
    float left
    margin 5px

.Page-4
  background url('../images/bg-4.jpg') bottom center no-repeat
  background-size cover
  width 100%
  padding 200px 0


/* helpers */

.row-fixed
  @extends .clearfix
  margin 0 auto
  width 1270px
  

/* Portfolio */
.portfolio-wrapper
  @extends .clearfix
  max-width 79em
  margin 0 auto
  min-height 1180px
  position relative
  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5,
  .img-6,
  .img-7,
  .img-8,
  .img-9,
  .img-10,
  .img-11,
  .img-12,
  .img-13,
  .img-14
    position absolute
    

  .img-1
    background url('../images/portfolio/web.jpg') no-repeat
    top 0
    left 0
    height 235px
    width 418px
  
  .img-2
    background url('../images/portfolio/web-02.jpg') no-repeat
    left 428px
    height 235px
    width 271px

  .img-3
    background url('../images/portfolio/web-03.jpg') no-repeat
    left 707px
    height 235px
    width 272px
  
  .img-4
    background url('../images/portfolio/web-04.jpg') no-repeat
    top 0
    right 0
    height 494px
    width 272px
    
  .img-5
    background url('../images/portfolio/web-05.jpg') no-repeat
    top 245px
    height 235px
    width 271px
    
  .img-6
    background url('../images/portfolio/web-06.jpg') no-repeat
    top 245px
    left 283px
    height 345px
    width 270px
  
  .img-7
    background url('../images/portfolio/web-07.jpg') no-repeat
    top 245px
    left 565px
    height 345px
    width 435px
  
  .img-8
    background url('../images/portfolio/web-08.jpg') no-repeat
    top 495px
    height 491  px
    width 271px
  
  .img-9
    background url('../images/portfolio/web-09.jpg') no-repeat
    top 505px
    right 0
    height 235px
    width 272px

  .img-10
    background url('../images/portfolio/web-10.jpg') no-repeat
    top 605px
    left 283px
    height 232px
    width 695px
    img
      max-width 695px
  
  .img-14
    background url('../images/portfolio/web-14.jpg') no-repeat
    bottom 0
    left 0
    height 165px
    width 271px

  .img-11
    background url('../images/portfolio/web-11.jpg') no-repeat
    bottom 0
    right 0
    height 422px
    width 272px

  .img-12
    background url('../images/portfolio/web-12.jpg') no-repeat
    bottom 0
    left 283px
    height 316px
    width 270px

  .img-13
    background url('../images/portfolio/web-13.jpg') no-repeat
    bottom 0
    right 283px
    height 316px
    width 415px

.portfolio-detail
  background url('../images/overlay.png') repeat
  bottom 0
  color _white
  height 100%
  left 0
  opacity 0
  padding 70px 0 0
  position relative
  right 0
  top 0
  text-align center
  transition 0.5s
  width 100%
  z-index 10
  
  strong
    border-bottom 5px solid _white
    //display block
    font-size 20px
    //text-align center
    //width 100%
    
.Page-4
  background url('../images/perro.jpg') fixed center center no-repeat
  background-size cover
  height 700px
  position relative
  .GoTop
    cursor pointer
    bottom 0
    position absolute
    left 50%
    margin-left -25px 
    opacity 0.7
    
    &:hover
      opacity 1
    
  
.Page-5
  background url('../images/bg-4.jpg') center top no-repeat
  .Footer
    color _white
    padding 175px 0

  .social-item
    display inline-block
    margin 0 30px
    transition 0.3s

    &:hover
      opacity 0.6
      

@media screen and (max-width: 1650px)
  .Page-4
    height 400px