.overlay
  background-color black
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 10
  opacity 0
  display none
  transition opacity 1.5s  ease-out

.modal
  position absolute
  z-index 34
  display none
  top 50px
    
  &.isShow
    opacity 1

  &.isLoading
    .modal-loadingOverlay
      opacity 1

  .modal-loadingOverlay
    opacity 0

  .modal-close
    @extends .icon-close-modal
    position absolute
    top 4px
    right 4px
    z-index 28

    &:hover
      cursor pointer
      @extends .icon-close-modal:hover